body {
    margin: 0;
    font-size: 0;
}
body * {
    font-size: initial;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    max-width: 1000px;
    width: 100vw;
    margin: 0 auto;
}
.full-border-box {
    box-sizing: border-box;
    width: 100%;
}

h1 {
    font-size: 20px;
    color: #6a6969;
}

p, li {
    font-size: 14px;
    color: #6a6969;
}

a {
    color:#df5277;
    font-size: 14px;
}

/*nav header section section */

.page-header-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #fffabe;
}
.header-logo {
    width: 146px;
    margin-top: 10px;
}
.header-logo img {width: 100%;}
.page-header-bar nav ul {
    list-style-type: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 1.867vw;
}
.page-header-bar nav li {
    display: inline-block;
    margin-left: 1.49vw;
    margin-right: 1.49vw;
}
.page-header-bar nav a {
    font-size: 10px;
    color: #515151;
    text-transform: uppercase;
    text-decoration: none;
}

.page-header-bar {
    height: 72px;
    flex-direction: row;
    justify-content: space-around;
}

.header-logo {
    width: 156px;
    margin-top: 0;
}
.page-header-bar nav ul {
    margin-bottom: 0;
}
.page-header-bar nav a {
    font-size: 16px;
}

/* main section */

#jumbotron {
    width: 1000px;
    height: 400px;
}

.main_container {
    display: flex;
    padding: 55px 15px 20px 15px;
    height: 560px;
}

#sidebar {
    flex: 1;
}

#macaron-image {
    width: 187px;
    height: 240px;
    padding: 115px 31.50px; 
}

.main_text {
    margin: 1.5vw 0;
    padding: 4%;
}

#page-main h1 {
    font-size: 20px;
    color: #6a6969;
}

article {
    padding: 20px 24px;
}

article p {
    margin: 15px 0;
    padding: 0;
    font-size: 14px;
    color: #6a6966;
    text-align: justify;
    line-height: 150%;
}

article h1 {
    margin: 20px 0;
    text-align: justify;
    line-height: 150%;
}

.schedule {
    display: flex; 
    width: 986px;
    height: 140px;
    padding: 0 7px;
    margin-bottom: 50px;
}

section > div {
    width: 126px;
    height: 140px;
    margin: 7.375px; 
    background-color: #fffabe;
}

.schedule p {
    margin: 0;
}

.schedule-day {
    font-size: 14px;
    width: 118px;
    height: 29px;
    padding: 4px;
    color: #6a6966;
}

.schedule-time, .schedule-flavor{
    font-size: 12px;
    width: 118px;
    height: 29px;
    padding: 4px;
    color: #6a6966;
}

.schedule-flavor {
    display: flex;
    height: 25px;
}

.schedule-flavor > p, .schedule-time > p {
    flex: 1;
    font-size: 12px;
}


.schedule-flavor > img {
    width: 24px;
    height: 20px;
}

.coconut {
    background-color: #824603; 
}

.vanilla {
    background-color: #df5277;
}

.lemon {
    background-color: #a2304e;
}

.almond {
    background-color: #c39005;
}

.coconut p, .vanilla p, .lemon p, .almond p {
    color: white;  
}

/* footer/contact section */

footer {
    width: 1000px;
    height: 80px;
    background-color: #df5277;
    color: white;
}

footer div {
    font-size: 12px;
}

.contact {
    display: flex;
    margin: 10px 0;
    width: 100%;
    height: 33.6px;
    justify-content: space-around;
    align-items: center;
}

.contact-mail {
    background-image: url("./images/mail.png");
}

.contact-phone {
    background-image: url("./images/phone.png")
}

.contact-facebook {
    height: 13.6px;
    background-image: url("./images/facebook.png")
}

.contact-twitter {
    height: 13.6px;
    background-image: url("./images/twitter.png")
}

.contact-social-media div {
    display: inline-block;
}

.contact-social-media { 
    margin: 10px 0;
    padding: 10px 0;
}

.contact-method {
    background-repeat: no-repeat;
    background-size: contain;
    padding: 0 26px;
}

.contact-method>div {
    padding: 0 13px;
}

.copyright {
    width: 100%;
    margin: 4px 0;
    text-align: center;
}

/* our macaroon section */

.bkgrd-our-macarons {
    background-image: url('./images/our-macarons-background.png')
}

.bkgrd-image {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% auto;
    width: 100vw;
    max-width: 1000px;
}

.macaron-container {
    height: 549.8px;
    padding: 55px 15px 20px 15px
}

/* gift section */

.bkgrd-gifts-parties {
    background-image: url("./images/gifts-parties-background.png")
}

.flex-container {
    padding: 55px 15px 20px 15px;
}

.col-left-51 {
    width: 55%;
}

/* contact section */


#contact-section {
    width: 31%;
    display: inline-block;
}

#contact-input {
    vertical-align: top;
    width: 31%;
    height: 400px;
    padding: 24px 20px;
    display: inline-block;
}

#contact-sidebar {
    /* width: 31%; */
    padding: 24px 20px;
    display: inline-block;
}

form {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

input, textarea, button {
    height: 35px;
    background-color: #f5f5f5;
    border: none;
}
